name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.13
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
    
    - name: Install linux deps
      run: |
          sudo add-apt-repository -y ppa:tonimelisma/ppa
          sudo apt-get -y install libvips-dev

    - name: Get dependencies
      run: |
        go mod tidy
        go mod download
        go mod graph
        go mod vendor
        go mod verify
        go mod why

    - name: Test
      run: go test -race -coverprofile=coverage.txt -covermode=atomic $(go list ./... | grep -v /vendor/ | grep -v /example/)

    - name: Codecov
      uses: codecov/codecov-action@v1.0.6
      with:
        token: ${{secrets.CODECOV_TOKEN}}